vendor/
.idea/
.vscode/
.env
*.log
*.swp
*.swo
*.bak
*.tmp
composer.*
.DS_Store
Thumbs.db
.htaccess
favicon.ico
index.php
manifest.json
global.js
theme.min.js
jquery.min.js
cookies.min.js
bootstrap.bundle.min.js
bootstrap.bundle.min.js.map
global.css
root.css
lightbox.min.css
error.min.css
bootstrap-icons.min.css
bootstrap.css
bootstrap.css.map
fonts/
public/.gitkeep
public/assets/.gitkeep
public/assets/images/.gitkeep
public/assets/images/cookies.png
public/assets/images/icons
public/assets/images/screenshots
public/assets/js/.gitkeep
public/assets/js/core/.gitkeep
public/assets/css/.gitkeep
public/assets/css/core/.gitkeep
secure/.gitkeep
secure/resources/views
secure/resources/mailer/.gitkeep
secure/routes
autoload.php
secure/src/Abstracts
secure/src/Config/.gitkeep
secure/src/Config/app.php
secure/src/Config/functions.php
secure/src/Controllers
secure/src/Core
secure/src/Database
secure/src/Enums
secure/src/Errors
secure/src/Interfaces
secure/src/Mailer
secure/src/Models/.gitkeep
secure/src/.gitkeep
secure/src/Components/.gitkeep
secure/src/Components/ComponentMapper.php
cache/
secure/src/Middleware/.gitkeep
secure/src/Middleware/HomeMiddleware.php
